/* HEADER SECTION */
  
html {
    height: 99vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: calc(12px + 0.5vh);
    color: rgb(196, 196, 196);
}
    
body {
    display: flex;
    height: 100%;
    background-image: linear-gradient(rgb(18, 17, 17) 20% 80%, rgb(33, 31, 31) 90%);
}
    
#intro-div {
    min-height: 100%;
    min-width: 40%;
    background-image: url("../images/caleb-smith-p9JHJ2DAl5c-unsplash.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    
#header-div {
    margin-top: 20vh;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.726);
}
    
#header-div > img {
    width: 180px;
    height: auto;
    position: relative;
    top: 25px;
}

#header-div > h1 {
    color: white;
    font-size: 2rem;
    line-height: calc(1ex / 0.42);
    letter-spacing: 0.1ex;
}
    
#footer-div {
    align-self: center;
    justify-self: flex-end;
}
    
#footer-div > p,
#footer-div > p > a {
    color: white;
    font-size: 0.75rem;
}

#footer-div > p > a:visited {
    color: rgb(198, 86, 213);
}

#footer-div > p > a:hover,
#footer-div > p > a:focus {
    color: rgb(2, 194, 194);
}

#footer-div > p > a:active {
    color: rgb(248, 80, 108);
}


/* FORM SECTION */

p {
    font-weight: 500;
    line-height: calc(1ex / 0.32);
    letter-spacing: 0.1ex;
}

h2 {
    font-size: 1.5rem;
    color: white;
    line-height: calc(1ex / 0.42);
    letter-spacing: 0.1ex;
}

label {
    font-size: 0.75rem;
    line-height: calc(1ex / 0.32);
    color: rgb(98, 97, 97);
}

input {
    border: 1px solid rgb(98, 97, 97);
    background-color: transparent;
    color: rgb(98, 97, 97);
    width: max(300px, 20vw);
    height: 1rem;
    border-radius: 4px;
}

#form-div {
    
    margin-top: 15vh;
    margin-bottom: 15vh;
    padding: 0 3vw 3vw 3vw;
    box-shadow: 0.25rem 0.25rem 0.5rem black;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

p.form-cue {
    margin-top: 10vh;
    margin-bottom: 2.3vh;
}

form > div {
    display: flex;
    gap: 3rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 0;
    padding: 0 0;
}

fieldset > p {
    margin: 0;
    font-size: 0.6rem;
    line-height: calc(0.75ex / 0.32);
    color: transparent;
    width: max(300px, 20vw);
    /*position: absolute;*/
}

button {
    max-width: 280px;
    padding: 20px;
    margin-top: 3vh;
    border: solid 4px white;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    transition-duration: 200ms;
}

button:focus,
button:hover {
    border: solid 4px transparent;
    color: black;
    background-color: white;
    cursor: pointer;
}

.login {
    margin-top: 1.75vh;
    font-size: 1rem;
    font-weight: 400;
}

.login a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
}

.login a:visited {
    color: rgb(198, 86, 213);
}

.login a:hover,
.login a:focus {
    color: rgb(2, 194, 194);
}

.login a:active {
    color: rgb(248, 80, 108);
}




/* CLIENT-VALIDATION STYLING */

.input-div {
    position: relative;
}

input:focus {
    border: 2px solid rgb(196, 196, 196);
    color: rgb(196, 196, 196);
}

fieldset:focus-within > label {
    color: rgb(196, 196, 196);
}

input:valid {
    border: 2px solid rgb(196, 196, 196);
    color: rgb(196, 196, 196);
}

input:valid + span::after {
    content: "✓";
    font-weight: 400;
    color: rgb(196, 196, 196);
    position: absolute;
    right: 5px;
    top: 3px;
}

fieldset:valid > label {
    color: rgb(196, 196, 196);
}

input:user-invalid {
    border: 2px solid rgb(237, 94, 94);
    color: rgb(237, 94, 94) !important;
}

input:user-invalid + span::after {
    content: "✗";
    font-weight: 400;
    color: rgb(237, 94, 94);
    position: absolute;
    right: 5px;
    top: 3px;
}

fieldset:focus-within > p {
    color: white;
}

/*Faltará pintar de rojo labels y los p cuando input esté en rojo.

Comparar con otros navegadores y ver si hay diferencias en los forms. 
Si así fuera, utilizar "all: unset" para quitar el styling de estos y
re-hacerlo totalmente.